# Projet AirBnB - Prétraitement des Données (Side Quest)
### Ce notebook a pour objectif de préparer le dataset pour la prédiction du prix d'un logement sur Airbnb.
### Il est structuré en plusieurs sections : chargement et exploration des données, prétraitement, et séparation des données pour une future modélisation.
### Chaque membre pourra compléter sa partie en fonction de son rôle.

 ## Table des Matières
### 1. Introduction
### 2. Chargement et Exploration des Données
### 3. Prétraitement des Données
###    - 3.1 Sélection des Colonnes Pertinentes
###    - 3.2 Suppression des Doublons
###    - 3.3 Gestion des Valeurs Manquantes
###    - 3.4 Conversion des Types de Données
###    - 3.5 Gestion des Valeurs Aberrantes
### 4. Séparation des Données (Train/Test Split)
### 5. Bonus: Préparation pour la Régression Linéaire
### 6. Conclusion et Perspectives

## 1. Introduction
### Dans ce projet, nous préparons le dataset AirBnB afin de prédire le prix des logements.
### Ce notebook se concentre sur la partie prétraitement des données avant l'application des algorithmes de prédiction.
### Chaque membre de l'équipe pourra ajouter des analyses ou des ajustements au fur et à mesure.

In [2]:
# Importation des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import sys
print(sys.executable)

c:\Users\FranckPERSONNE\anaconda3\python.exe

 ## 2. Chargement et Exploration des Données
### Charger le fichier CSV et effectuer une première exploration du dataset.

In [4]:
# TODO: Remplacer le chemin par le chemin de votre fichier CSV si nécessaire
file_path = 'listings.csv'
df = pd.read_csv(file_path)

# Affichage des premières lignes du dataset
print(df.head())

# Informations générales sur le dataset
print(df.info())

# Statistiques descriptives
print(df.describe())

     id                        listing_url       scrape_id last_scraped  \
0  3109  https://www.airbnb.com/rooms/3109  20241206031559   2024-12-07
1  5396  https://www.airbnb.com/rooms/5396  20241206031559   2024-12-09
2  7397  https://www.airbnb.com/rooms/7397  20241206031559   2024-12-08
3  7964  https://www.airbnb.com/rooms/7964  20241206031559   2024-12-09
4  9359  https://www.airbnb.com/rooms/9359  20241206031559   2024-12-09

            source                                             name  \
0      city scrape                                     zen and calm
1      city scrape     Your perfect Paris studio on Île Saint-Louis
2      city scrape                 MARAIS - 2ROOMS APT - 2/4 PEOPLE
3  previous scrape                     Sunny apartment with balcony
4      city scrape  Cozy, Central Paris: WALK or VELIB EVERYWHERE !

                                         description  \
0  Lovely Appartment with one bedroom with a Quee...
1  NEW SOFA-BED SINCE JUNE 2023, Please disregard...
2          VERY CONVENIENT, WITH THE BEST LOCATION !
3  We are renting our a spacious, sunny fully fur...
4  Location! Location! Location! Just bring your ...

                               neighborhood_overview  \
0  Good restaurants<br />very close the Montparna...
1  You are within walking distance to the Louvre,...
2                                                NaN
3                                                NaN
4                                                NaN

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/miso/Hosting-...     3631  ...
1  https://a0.muscache.com/pictures/52413/f9bf76f...     7903  ...
2  https://a0.muscache.com/pictures/67928287/330b...     2626  ...
3  https://a0.muscache.com/pictures/miso/Hosting-...    22155  ...
4  https://a0.muscache.com/pictures/c2965945-061f...    28422  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        5.00                   5.00                5.00
1                        4.85                   4.96                4.59
2                        4.89                   4.94                4.74
3                        5.00                   5.00                5.00
4                         NaN                    NaN                 NaN

                                             license instant_bookable  \
0                                      7511409139079                t
1                                      7510402838018                f
2                                      7510400829623                f
3                                      7510903576564                f
4  Available with a mobility lease only ("bail mo...                f

  calculated_host_listings_count calculated_host_listings_count_entire_homes  \
0                              1                                           1
1                              1                                           1
2                              2                                           2
3                              1                                           1
4                              1                                           1

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.05
1                                           0              2.26
2                                           0              2.20
3                                           0              0.03
4                                           0               NaN

[5 rows x 75 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91031 entries, 0 to 91030
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            91031 non-null  int64
 1   listing_url                                   91031 non-null  object
 2   scrape_id                                     91031 non-null  int64
 3   last_scraped                                  91031 non-null  object
 4   source                                        91031 non-null  object
 5   name                                          91031 non-null  object
 6   description                                   87540 non-null  object
 7   neighborhood_overview                         45896 non-null  object
 8   picture_url                                   91030 non-null  object
 9   host_id                                       91031 non-null  int64
 10  host_url                                      91031 non-null  object
 11  host_name                                     91022 non-null  object
 12  host_since                                    91022 non-null  object
 13  host_location                                 72768 non-null  object
 14  host_about                                    39578 non-null  object
 15  host_response_time                            52210 non-null  object
 16  host_response_rate                            52210 non-null  object
 17  host_acceptance_rate                          61093 non-null  object
 18  host_is_superhost                             89080 non-null  object
 19  host_thumbnail_url                            91022 non-null  object
 20  host_picture_url                              91022 non-null  object
 21  host_neighbourhood                            32169 non-null  object
 22  host_listings_count                           91022 non-null  float64
 23  host_total_listings_count                     91022 non-null  float64
 24  host_verifications                            91022 non-null  object
 25  host_has_profile_pic                          91022 non-null  object
 26  host_identity_verified                        91022 non-null  object
 27  neighbourhood                                 45896 non-null  object
 28  neighbourhood_cleansed                        91031 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      91031 non-null  float64
 31  longitude                                     91031 non-null  float64
 32  property_type                                 91031 non-null  object
 33  room_type                                     91031 non-null  object
 34  accommodates                                  91031 non-null  int64
 35  bathrooms                                     60114 non-null  float64
 36  bathrooms_text                                90945 non-null  object
 37  bedrooms                                      83700 non-null  float64
 38  beds                                          59944 non-null  float64
 39  amenities                                     91031 non-null  object
 40  price                                         60093 non-null  object
 41  minimum_nights                                91031 non-null  int64
 42  maximum_nights                                91031 non-null  int64
 43  minimum_minimum_nights                        91031 non-null  int64
 44  maximum_minimum_nights                        91031 non-null  int64
 45  minimum_maximum_nights                        91031 non-null  int64
 46  maximum_maximum_nights                        91031 non-null  int64
 47  minimum_nights_avg_ntm                        91031 non-null  float64
 48  maximum_nights_avg_ntm                        91031 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              86531 non-null  object
 51  availability_30                               91031 non-null  int64
 52  availability_60                               91031 non-null  int64
 53  availability_90                               91031 non-null  int64
 54  availability_365                              91031 non-null  int64
 55  calendar_last_scraped                         91031 non-null  object
 56  number_of_reviews                             91031 non-null  int64
 57  number_of_reviews_ltm                         91031 non-null  int64
 58  number_of_reviews_l30d                        91031 non-null  int64
 59  first_review                                  67176 non-null  object
 60  last_review                                   67176 non-null  object
 61  review_scores_rating                          67176 non-null  float64
 62  review_scores_accuracy                        67164 non-null  float64
 63  review_scores_cleanliness                     67167 non-null  float64
 64  review_scores_checkin                         67157 non-null  float64
 65  review_scores_communication                   67166 non-null  float64
 66  review_scores_location                        67158 non-null  float64
 67  review_scores_value                           67156 non-null  float64
 68  license                                       72245 non-null  object
 69  instant_bookable                              91031 non-null  object
 70  calculated_host_listings_count                91031 non-null  int64
 71  calculated_host_listings_count_entire_homes   91031 non-null  int64
 72  calculated_host_listings_count_private_rooms  91031 non-null  int64
 73  calculated_host_listings_count_shared_rooms   91031 non-null  int64
 74  reviews_per_month                             67176 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 52.1+ MB
None
                 id     scrape_id       host_id  host_listings_count  \
count  9.103100e+04  9.103100e+04  9.103100e+04         91022.000000
mean   6.081553e+17  2.024121e+13  1.818846e+08            30.396596
std    5.127971e+17  3.728536e+01  2.006094e+08           127.009105
min    3.109000e+03  2.024121e+13  2.626000e+03             0.000000
25%    3.233102e+07  2.024121e+13  1.956359e+07             1.000000
50%    8.113895e+17  2.024121e+13  7.262684e+07             1.000000
75%    1.092549e+18  2.024121e+13  3.394154e+08             3.000000
max    1.305100e+18  2.024121e+13  6.654112e+08          7663.000000

       host_total_listings_count  neighbourhood_group_cleansed      latitude  \
count               91022.000000                           0.0  91031.000000
mean                   38.665465                           NaN     48.864181
std                   159.747472                           NaN      0.018198
min                     0.000000                           NaN     48.816090
25%                     1.000000                           NaN     48.850740
50%                     2.000000                           NaN     48.865470
75%                     5.000000                           NaN     48.879055
max                  8018.000000                           NaN     48.901510

          longitude  accommodates     bathrooms  ...  \
count  91031.000000  91031.000000  60114.000000  ...
mean       2.343099      3.229274      1.199737  ...
std        0.034228      1.667150      0.541934  ...
min        2.227420      1.000000      0.000000  ...
25%        2.321011      2.000000      1.000000  ...
50%        2.346829      3.000000      1.000000  ...
75%        2.368320      4.000000      1.000000  ...
max        2.467120     16.000000     42.000000  ...

       review_scores_cleanliness  review_scores_checkin  \
count               67167.000000           67157.000000
mean                    4.656672               4.805165
std                     0.455675               0.372354
min                     0.000000               0.000000
25%                     4.500000               4.770000
50%                     4.790000               4.920000
75%                     5.000000               5.000000
max                     5.000000               5.000000

       review_scores_communication  review_scores_location  \
count                 67166.000000            67158.000000
mean                      4.827823                4.818905
std                       0.361166                0.311784
min                       0.000000                0.000000
25%                       4.800000                4.760000
50%                       4.950000                4.920000
75%                       5.000000                5.000000
max                       5.000000                5.000000

       review_scores_value  calculated_host_listings_count  \
count         67156.000000                    91031.000000
mean              4.624605                       23.583010
std               0.441887                       94.650167
min               0.000000                        1.000000
25%               4.500000                        1.000000
50%               4.720000                        1.000000
75%               4.900000                        2.000000
max               5.000000                      826.000000

       calculated_host_listings_count_entire_homes  \
count                                 91031.000000
mean                                     22.522558
std                                      93.227797
min                                       0.000000
25%                                       1.000000
50%                                       1.000000
75%                                       2.000000
max                                     826.000000

       calculated_host_listings_count_private_rooms  \
count                                  91031.000000
mean                                       0.981808
std                                       10.927202
min                                        0.000000
25%                                        0.000000
50%                                        0.000000
75%                                        0.000000
max                                      181.000000

       calculated_host_listings_count_shared_rooms  reviews_per_month
count                                 91031.000000       67176.000000
mean                                      0.019235           1.065495
std                                       0.335941           1.353293
min                                       0.000000           0.010000
25%                                       0.000000           0.210000
50%                                       0.000000           0.590000
75%                                       0.000000           1.420000
max                                      11.000000          49.380000

[8 rows x 40 columns]

 ## 3. Prétraitement des Données
### Dans cette section, nous allons préparer le dataset pour l'analyse.
### Cette partie est à compléter par les membres de l'équipe selon les besoins.

## 3.1 Sélection des Colonnes Pertinentes
### Sélectionner les colonnes jugées importantes pour la prédiction du prix.

In [6]:
# TODO: Adapter la liste des colonnes en fonction de vos besoins
colonnes_pertinentes = ['price', 'room_type', 'neighbourhood', 'minimum_nights', 'number_of_reviews']
df = df[colonnes_pertinentes]
# Vérification de la sélection
print(df.head())

     price        room_type            neighbourhood  minimum_nights  \
0  $100.00  Entire home/apt  Neighborhood highlights               2
1   $88.00  Entire home/apt  Neighborhood highlights               3
2  $136.00  Entire home/apt                      NaN              10
3      NaN  Entire home/apt                      NaN               7
4   $75.00  Entire home/apt                      NaN             180

   number_of_reviews
0                  4
1                425
2                367
3                  5
4                  0

## 3.2 Suppression des Doublons
### Identifier et supprimer les doublons dans le dataset.

In [ ]:

df_cleaned = df.drop_duplicates(subset=['price', 'room_type', 'neighbourhood', 'minimum_nights', 'number_of_reviews'], keep='first')

print(df_cleaned)

print("Doublons avant suppression :", df.duplicated().sum())
print("Doublons après suppression :", df_cleaned.duplicated().sum())

         price        room_type            neighbourhood  minimum_nights  \
0      $100.00  Entire home/apt  Neighborhood highlights               2
1       $88.00  Entire home/apt  Neighborhood highlights               3
2      $136.00  Entire home/apt                      NaN              10
3          NaN  Entire home/apt                      NaN               7
4       $75.00  Entire home/apt                      NaN             180
...        ...              ...                      ...             ...
91004   $76.00  Entire home/apt                      NaN               7
91007   $64.00  Entire home/apt  Neighborhood highlights               1
91017   $56.00  Entire home/apt  Neighborhood highlights               1
91028  $818.00  Entire home/apt  Neighborhood highlights               1
91029  $840.00  Entire home/apt  Neighborhood highlights               1

       number_of_reviews
0                      4
1                    425
2                    367
3                      5
4                      0
...                  ...
91004                  0
91007                  0
91017                  0
91028                  0
91029                  0

[42916 rows x 5 columns]
Doublons avant suppression : 48115
Doublons après suppression : 0

## 3.3 Gestion des Valeurs Manquantes
### Identifier et traiter les valeurs manquantes.

In [ ]:

df_cleaned = df_cleaned.copy()

df_cleaned['price'] = df_cleaned['price'].replace({r'\$': '', r',': ''}, regex=True).astype(float)

df_cleaned['price'] = df_cleaned['price'].fillna(df_cleaned['price'].mean())

df_cleaned['neighbourhood'].fillna('Pas de neighbourhood', inplace=True)

print(df_cleaned.isnull().sum())

price                0
room_type            0
neighbourhood        0
minimum_nights       0
number_of_reviews    0
dtype: int64

C:\Users\FranckPERSONNE\AppData\Local\Temp\ipykernel_1524\3897750278.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['neighbourhood'].fillna('Pas de neighbourhood', inplace=True)

 # 3.4 Conversion des Types de Données
### Convertir les colonnes en types appropriés, par exemple convertir 'price' en numérique.

# 3.5 Gestion des Valeurs Aberrantes
### Détecter et gérer les valeurs aberrantes à l'aide de visualisations.

 # 4. Séparation des Données (Train/Test Split)
### Préparer le dataset pour la modélisation en séparant les données en ensemble d'entraînement et de test.

# 5. Bonus: Préparation pour la Régression Linéaire
### Placeholder pour la future implémentation d'une régression linéaire.
### Cette section pourra être complétée ultérieurement avec la modélisation et l'évaluation.

# 6. Conclusion et Perspectives

### Ce notebook constitue la base du prétraitement des données pour le projet AirBnB.
### Chaque membre pourra ajuster ou compléter les sections selon l'évolution du projet.
### Pensez à ajouter des commentaires et des visualisations pertinentes pour documenter vos choix.